.about {
    width: 100%;
    min-height: 700px; 
    display: flex;       
    flex-direction: row-reverse;     
    justify-content: center;  
    align-items: center;      
    gap: 50px;                
    padding: 40px;
    background-color: #e8e6e1;
    flex-shrink: 0;
   
}

.top {
    width: 550px;            
    height: 400px;           
    border-radius: 9%;
    background-size: cover;
    background-position: center;
       
}

.bottom {
    display: flex;
    flex-direction: column;   
    text-align: left;        
    max-width: 500px;flex-shrink: 0;
}

.aboutus {
    color: #f3a833;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
}

.def {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6;
}

.quote1 {
    font-size: 50px;
    margin-top: 15px;
}