
.dash {
  max-width: 900px; 
  margin: 200px; 
  padding: 35px;
  background: rgb(248, 246, 245);
  border-radius: 15px;    
  text-align: center;  
   
  height: 100vh;   

}

.welcome {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.partners {
  color: #777;
  font-size: 14px;
  margin-bottom: 25px;
}

#signin {
  display: flex;
  flex-direction: column;   
  text-align: left;   }     


label {
  font-weight: bold;
  color: black;
  font-size: 13px;
  
  
}


input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid;
  color:grey;
  border-radius: 8px;
}




.button {
  background-color: #f9ca49;
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;       
}

.button:hover {
  background-color: #b36500; 
 transition: 0.3s;    }