
.navbar {
  width: 100%;
  height: 90px;
  background-color: #eccd84;
  display: flex;
  align-items:center;
  justify-content: space-between; 
  padding-right: 10px;
  top: 0;
  left: 0;
  position:fixed ;
  

}

.logo {
  width: 150px;
  padding-left: 10px;
  
  
}

.hashlink a  {
  text-decoration: underline;
 color: #3d3d29;
  padding: 10px;
  font-weight: 100;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hashlink a:hover {
  color: #fdfdfd;
}

/* @keyframes tell css to create a timeline for an animation.*/
/* Rotation is the name of the timeline */
@keyframes Rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo1 {
  width: 80px;
  transform-origin: center;
  /* name of the timeline  /duration of a full spin  /linear :smooth/repetition */
  animation: Rotation 6s linear infinite;
}