
.home {
    width: 100%;
    height: 700px;           
    position: center;
    padding-top: 50px; 
    background-color: #e8e6e1;     
}


.content {
    width: 45%;             
    float: left; 
               
    margin-left: 100px;
    margin-top: 200px;   
}

.img-container {
    width: 45%;            
    float: right;
            
}


.img {
    width: 550px;            
    margin-top: 70px;
    float: right;
    margin-right: 100px;
    border-radius: 9%;
}


.quote {
    font-size: 60px;        
    color: #3d3d29;
}

.titre{
    color: #f3a833;
    font-size: 25px;
}
.text{
    font-size: 25px;
}
.button1{
    background-color: #e9ad4c;
    margin-left: 100px;
    border-radius: 10%;
    padding: 10px ;
    font-size: 20px;
    color: #3d3d29;
    margin-top: 50px; 
    
}
.button2{
    background-color: #e9ad4c;
    margin-left: 110px;
    border-radius: 10%;
    padding: 10px ;
    font-size: 20px;
    color: #3d3d29;
    margin-top: 50px; 
    
}
.button1:hover {
  background-color: #b36500; 
 transition: 0.3s;    }
 .button2:hover {
  background-color: #b36500; 
 transition: 0.3s;    }