.partner{
    max-width: 1000vh;
    height: 80vh;
    margin: 200px;
    padding: 35px;
    background-color: rgb(248, 246, 245);
    border-radius: 15px;
    text-align: center;
    
}


.becomepartner{
    display: flex;
  flex-direction: column;   
  text-align: left;   } 



.label {
    font-size: 13px;
}
button {
  background-color: #f9ca49;
  color: rgb(0, 0, 0);
  padding: 12px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;       
}

button:hover {
  background-color: #b36500; 
 transition: 0.3s;    }