
.services{
    padding-top: 100px;
    padding-bottom: 80px;
    display: flex;       
    flex-wrap: wrap;       
    justify-content: center; 
    align-items: flex-start;
    gap: 40px;
    background-color: #e8e6e1;
    
}


.titre {
    color: #e6a543;
    width: 100%;           
    text-align: center;     
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;    
}


.container1, .container2, .container3 {
    border: 2px solid black;
    border-radius: 12px;
    width: 25%;            
    padding: 20px;   
}

.logoflayes {
float: right;
width: 40px;
}

h1 {
 font-size: 24px; 
    }
h2 { 
font-size: 16px;
 font-weight: normal; 
 
 
}
.soustitre{
    font-size: 18px;

 text-align: center; 
}